* {
    color: #797EF6;
    /* rgb(121,126,246); */
    color: #2f9191;
    /* rgb(47,145,145); */
    color: #494b68;
    /* rgb(73,75,104); */
    color: #006da3;
    /*rgb(0,109,163); */
    color: #0d1c78;
    /* rgb(13,28,120); */
}